# Airflow

airflow/logs/
airflow/secrets/

# GCP credentials
application_default_credentials.json

# Python
.venv/
__pycache__/
*.pyc

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# IDE / OS
.vscode/
.DS_Store

.ipynb_checkpoints
notebooks
artifacts
.git
*.env
*.md

ai/src/epidemiological_agent/notebook_test.ipynb
ai/chroma_db/
