fastapi
uvicorn[standard]
python-dotenv

langgraph
langchain-core
langchain-openai
langchain-chroma
langchain-text-splitters

chromadb

google-cloud-bigquery
google-cloud-storage
google-cloud-run
google-api-core
db-dtypes

pandas
pyarrow

pydantic